.App {
  /*position: relative;*/
  /*height: 100vh;*/
  /*width: 100vw;*/
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  font-family: "Calibri";
  color: #222222;
  background-color: #E8E4E1;
  padding-bottom: 100px;
}

.paragraphTitle {
  margin-top: 40px;
  font-size: 36px;
  font-weight: bolder;
}

/*.hello {*/
/*  width: 60%;*/
/*  height: 500px;*/
/*  margin-top: 100px;*/
/*  display: flex;*/
/*  align-items: center;*/
/*  justify-content: center;*/
/*  background-color: #484848;*/
/*}*/


